
@{
}

<div class="text-center my-5">

    <a asp-action="ProductIndex" class="btn btn-lg btn-primary rounded-pill fs-3">Manage Products</a>

</div>

<div class="text-center my-5">

    <a asp-action="CategoryIndex" class="btn btn-lg btn-secondary rounded-pill fs-3">Manage Categories</a>

</div>

<div class="text-center my-5">

    <a asp-action="OrderIndex" class="btn btn-lg btn-success rounded-pill fs-3">Manage Orders</a>

</div>
