@using DAL.Entities



<ul class="nav nav-pills flex-column mt-3 mb-4">

    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person-vcard me-2"></i> Profile Info
        </a>
    </li>

    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="bi bi-envelope me-2"></i> Email
        </a>
    </li>

    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-lock me-2"></i> Password
        </a>
    </li>

    <li class="nav-item mb-1">
        <a class="nav-link @ManageNavPages.OrdersNavClass(ViewContext)" id="Orders" asp-page="./Orders">
            <i class="bi bi-cart me-2"></i> Your Orders
        </a>
    </li>
</ul>
