@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="py-5 text-center">
    <h1 class="text-danger pt-5">@ViewData["Title"]</h1>
    <p class="text-danger pb-5">You do not have access to this resource.</p>
</header>
